$clr-white: #f5eaea;
$clr-black: #212121;
$clr-black-dark: #1d1d1d;
$clr-accent: #00bcd4;
$clr-accent-light: #0096a9;
$clr-red: #dc3545;
$clr-gray: #ccc;
$border-radius: 0.1rem;
$box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.45);
